SECRET_KEY=... # секретный ключ django-проекта
DEBUG=False # в режиме отладки рекомендуется указать True
POSTGRES_DB=... # Имя базы данных
POSTGRES_USER=... # имя пользователя БД
POSTGRES_PASSWORD=... # пароль от БД
DB_HOST=... # имя хоста, на котором находится база данных (локально: localhost)
DB_PORT=... # номер порта, на котором работает PostgreSQL (обычно 5432)
EMAIL_HOST_USER=... # имя пользователя для аутентификации на SMTP-сервере
EMAIL_HOST_PASSWORD=... # пароль от почтового аккаунта